* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#mt-too-web,
#mt-phone {
  color: #7d7d7d;
  font-size: 16px;
  display: none;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

#mt-phone a {
  color: #7d7d7d;
}

#mt-phone li {
  list-style: none;
}

.mt-too-header,
.mt-phone-header {
  width: 100%;
  position: relative;
}

.mt-too-header > img,
.mt-phone-header > img {
  width: 100%;
}

.mt-too-header > a > div {
  position: absolute;
  width: 175px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  color: #fff;
  left: 19%;
  bottom: 12%;
  border: 1px solid #fff;
}

.mt-too-header > a > div:hover {
  color: #dc6767;
  border: 1px solid #dc6767;
}

.mt-too-industry > header,
.mt-superiority > header,
.mt-features > header,
.mt-integration > header,
.mt-takeaway > header,
.mt-operation > header,
.mt-more > header,
.mt-view-more > header,
.mt-about-us > header,
.mt-case > header {
  text-align: center;
  margin-top: 80px;
}

.mt-too-industry > header > h3,
.mt-superiority > header > h3,
.mt-features > header > h3,
.mt-integration > header > h3,
.mt-takeaway > header > h3,
.mt-operation > header > h3,
.mt-more > header > h3,
.mt-view-more > header > h3,
.mt-about-us > header > h3,
.mt-case > header > h3 {
  color: #171717;
  font-size: 32px;
  margin-bottom: 22px;
}

.mt-too-industry > header > p,
.mt-superiority > header > p,
.mt-features > header > p,
.mt-integration > header > p,
.mt-takeaway > header > p,
.mt-operation > header > p,
.mt-more > header > p,
.mt-about-us > header > p,
.mt-case > header > p {
  font-size: 18px;
}

.mt-too-industry > .mt-industry {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mt-too-industry > .mt-industry > a > .mt-too-figure {
  margin-right: 45px;
  margin-top: 56px;
  cursor: pointer;
  width: 370px;
  height: 170px;
  padding: 20px 38px 0;
  color: #7d7d7d;
  box-shadow: 0px 0px 20px 0px rgba(118, 126, 134, 0.2);
}

.mt-too-industry > .mt-industry > a > .mt-too-figure:hover {
  margin-top: 39px;
  box-shadow: 0px 15px 20px 0px rgba(118, 126, 134, 0.2);
}

.mt-too-industry > .mt-industry > a > .mt-too-figure:nth-child(3n) {
  margin-right: 0;
}

.mt-too-industry > .mt-industry > a > .mt-too-figure > div {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 25px;
}

.mt-too-industry > .mt-industry > a > .mt-too-figure > div > img {
  width: 100%;
  height: 100%;
}

.mt-superiority,
.mt-integration,
.mt-operation,
.mt-more,
.mt-about-us {
  background-color: #f7f8fa;
  padding-top: 79px;
  padding-bottom: 130px;
  margin-top: 130px;
}

.mt-superiority > header,
.mt-integration > header,
.mt-operation > header,
.mt-more > header,
.mt-about-us > header {
  margin-top: 0;
}

.mt-superiority-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.mt-superiority-row .mt-superiority-item {
  padding: 0 53px 0 42px;
  display: flex;
  align-items: center;
  width: 590px;
  height: 208px;
  box-shadow: 0px 0px 10px 0px rgba(118, 126, 134, 0.2);
  margin-right: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.mt-superiority-row .mt-superiority-item figcaption p {
  color: #7d7d7d;
}

.mt-superiority-row .mt-superiority-item:hover {
  box-shadow: 0px 10px 20px 0px rgba(118, 126, 134, 0.2);
  margin-top: 20px;
}

.mt-superiority-item > div {
  width: 120px;
  height: 120px;
  margin-right: 36px;
  border-radius: 50%;
  background-color: #777777;
  flex-shrink: 0;
}

.mt-superiority-item > div > img {
  width: 100%;
  height: 100%;
}

.mt-superiority-item > figcaption > h4 {
  font-style: 20px;
  color: #333333;
  margin-bottom: 30px;
}

.mt-features-title {
  margin: 70px auto 60px;
  width: 1200px;
  border-bottom: 1px solid #dddddd;
}

.mt-features-title header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-features-title > header div {
  padding: 15px 0;
  font-size: 18px;
  color: #222222;
  text-align: center;
  width: 240px;
  cursor: pointer;
}

.mt-features-title > header .mt-active {
  border-bottom: 1px solid #e84644;
  color: #e84644;
}

.mt-features-box {
  margin: 0 auto 0;
  width: 1200px;
  overflow: hidden;
  height: 410px;
}

.mt-features-content {
  width: 2400px;
  display: flex;
  align-items: center;
}

.mt-features-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
}

.mt-left-active {
  transform: translateX(0);
  transition-duration: 0.5s;
}

.mt-right-active {
  transform: translateX(-1200px);
  transition-duration: 0.5s;
}

.mt-present > h3 {
  font-size: 24px;
  color: #e84644;
}

.mt-present > p {
  font-weight: 500;
  font-size: 20px;
  color: #222222;
  margin-top: 30px;
  margin-bottom: 43px;
}

.mt-matching {
  width: 599px;
  height: 410px;
  background: #777777;
  margin-left: 86px;
}

.mt-present-list {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.mt-present-list > span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e84644;
  margin-right: 11px;
}

.mt-present-list > p {
  color: #666666;
}

.mt-present a > div {
  width: 175px;
  height: 46px;
  border: 1px solid #e84644;
  color: #e84644;
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  margin-top: 60px;
  display: inline-block;
}

.mt-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}

.mt-product-item {
  text-align: center;
  cursor: pointer;
  color: #7d7d7d;
}

.mt-product a {
  margin-right: 48px;
}

.mt-product-item:hover > div {
  box-shadow: 0px 0px 20px 0px rgba(118, 126, 134, 0.2);
}

.mt-product-item:hover figcaption {
  color: #222222;
}

.mt-product a:last-child {
  margin-right: 0;
}

.mt-product-item > div {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dcdcdc;
}

.mt-product-item > div img {
  width: 96px;
  height: 96px;
}

.mt-product-item > figcaption {
  font-size: 20px;
}

.mt-takeaway-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 93px;
}

.mt-takeaway-box .mt-takeaway-item {
  text-align: center;
  width: 260px;
  height: 250px;
  padding: 0 24px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #222222;
}

.mt-takeaway-box a {
  margin-right: 89px;
}

.mt-takeaway-box a:last-child {
  margin-right: 0;
}

.mt-takeaway-box .mt-takeaway-item:hover {
  box-shadow: 0px 0px 20px 0px rgba(118, 126, 134, 0.2);
}

.mt-takeaway-box .mt-takeaway-item > h3 {
  margin-top: 39px;
  margin-bottom: 28px;
}

.mt-operation-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 105px;
}

.mt-operation-item {
  text-align: center;
}

.mt-operation-box a {
  margin-right: 100px;
  color: #7d7d7d;
}

.mt-operation-box a:last-child {
  margin-right: 0;
}

.mt-operation-item > div {
  width: 260px;
  height: 143px;
  margin-bottom: 47px;
}

.mt-operation-item > div img {
  width: 100%;
  height: 100%;
}

.mt-more {
  background: #7eade0;
  color: #ffffff;
}

.mt-more > header > h3 {
  color: #ffffff;
}

.mt-table {
  margin: 0 auto 0;
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.mt-table-item {
  text-align: center;
  padding: 20px 39px 10px;
  border: 1px solid rgba(220, 220, 220, 0.4);
}

.mt-table-item:nth-of-type(n + 1) {
  border-top: none;
  border-right: none;
}

.mt-table-item:nth-of-type(6n + 1) {
  border-left: none;
}

.mt-table-item > div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  cursor: pointer;
}

.mt-table-item > div img {
  width: 100%;
  height: 100%;
}

.mt-table-item > div:hover {
  animation: myfirst 2s;
  -moz-animation: myfirst 2s;
  -webkit-animation: myfirst 2s;
  -o-animation: myfirst 2s;
}

@keyframes myfirst {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@-moz-keyframes myfirst

/* Firefox */ {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes myfirst

/* Safari �� Chrome */ {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@-o-keyframes myfirst

/* Opera */ {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.mt-more a div {
  width: 150px;
  height: 50px;
  border: 1px solid #ffffff;
  line-height: 50px;
  text-align: center;
  margin: 36px auto 0;
  color: #fff;
}

.mt-view-more-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-view-more-item {
  width: 208px;
  height: 300px;
  border: 1px solid #dcdcdc;
  text-align: center;
  padding: 0 22px;
}

.mt-view-more-box a {
  margin-right: 43px;
}

.mt-view-more-box a:last-child {
  margin-right: 0;
}

.mt-view-more-item > .mt-title {
  width: 120px;
  height: 80px;
  background: #777777;
  margin: 43px auto 29px;
}

.mt-view-more-item > .mt-title img {
  width: 100%;
  height: 100%;
}

.mt-view-more-item > p {
  color: #222222;
  font-weight: 400;
}

.mt-view-more-item .mt-try-test > div {
  color: #ff7e44;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.mt-view-more-item .mt-try-test > p {
  font-size: 14px;
  color: #7d7d7d;
}

.mt-about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 67px;
  line-height: 36px;
}

.mt-about-content > p {
  font-size: 18px;
  max-width: 720px;
}

.mt-about-content > ul {
  margin-left: 120px;
}

.mt-about-content > ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 18px;
}

.mt-about-content > ul li:last-child {
  align-items: flex-start;
}

.mt-about-content > ul li > div {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.mt-about-content > ul li:last-child > div {
  width: 100px;
  height: 100px;
}

.mt-about-content > ul li > div > img {
  width: 100%;
  height: 100%;
}

.mt-about-content > ul li:last-child p {
  align-self: flex-end;
}

/* 轮播图 */
#mt-swiper {
  width: 1440px;
  height: 780px;
  margin: 0 auto 0;
  position: relative;
}

#mt-swiper ul {
  position: relative;
  height: 780px;
}

#mt-phone-swiper {
  width: 100%;
  height: 420px;
  overflow: hidden;
}

#mt-phone-swiper ul {
  position: relative;
  height: 420px;
  width: 720px;
}

#mt-swiper li,
#mt-phone-swiper li {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  box-shadow: 0px 15px 20px 0px rgba(118, 126, 134, 0.2);
}

#mt-swiper li > img,
#mt-phone-swiper li > img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  float: left;
}

.mt-prev,
.mt-next {
  display: none;
}

.mt-swiper-list li > div,
.mt-phone-swiper-list li > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: none;
}

.mt-swiper-list li > div img {
  width: 150px;
  margin-top: 30%;
  margin-bottom: 30%;
}

.mt-phone-swiper-list li > div img {
  width: 75px;
  margin-top: 30%;
  margin-bottom: 30%;
}

.mt-swiper-list li:nth-of-type(4) {
  width: 344px !important;
  height: 710px !important;
  background: url("../img/case/iPhoneFront.png") no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.5);
  padding-top: 85px;
  padding-left: 21px;
  border-radius: 52px;
}

.mt-phone-swiper-list li:nth-of-type(4) {
  width: 172px !important;
  height: 355px !important;
  background: url("../img/case/iPhoneFront.png") no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.5);
  padding-top: 42px;
  padding-left: 10px;
  border-radius: 26px;
}

.mt-swiper-list li:nth-of-type(4) > img {
  width: 303px !important;
  height: 539px !important;
}

.mt-phone-swiper-list li:nth-of-type(4) > img {
  width: 151px !important;
  height: 269px !important;
}

.mt-swiper-list li:hover > div,
.mt-phone-swiper-list li:hover > div {
  display: block;
  width: 100%;
  height: 100%;
}

.mt-swiper-list li:nth-of-type(4):hover > div {
  width: 303px !important;
  height: 539px !important;
  top: 85px;
  left: 21px;
}

.mt-phone-swiper-list li:nth-of-type(4):hover > div {
  width: 151px !important;
  height: 269px !important;
  top: 42px;
  left: 10px;
}

.mt-swiper-bth {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(232, 70, 68, 0.85);
  /* border: 1px solid #e84644; */
  display: inline-block;
}

.mt-phone-swiper-list .mt-swiper-bth {
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: rgba(232, 70, 68, 0.85);
  display: inline-block;
  font-size: 10px;
}

/* 手机端样式 */
.mt-phone-header > a > div {
  position: absolute;
  bottom: 29%;
  left: 8%;
  border: 1px solid #fff;
  color: #fff;
  width: 87.5px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  font-size: 10px;
}

.mt-phone-industry {
  margin-top: 27.5px;
}

.mt-phone-industry > header,
.mt-phone-odds > header,
.mt-phone-fun > header,
.mt-goods > header,
.mt-distribution > header,
.mt-superior > header,
.mt-we-more > header,
.mt-also > header,
.mt-regarding > header,
.mt-phone-case > header {
  text-align: center;
  padding: 0 10px;
}

.mt-phone-industry > header > h3,
.mt-phone-odds > header > h3,
.mt-phone-fun > header > h3,
.mt-goods > header > h3,
.mt-distribution > header > h3,
.mt-superior > header > h3,
.mt-we-more > header > h3,
.mt-also > header > h3,
.mt-regarding > header > h3,
.mt-phone-case > header > h3 {
  font-size: 16px;
  margin-bottom: 11px;
  color: #171717;
}

.mt-phone-industry > header > p,
.mt-phone-odds > header > p,
.mt-phone-fun > header > p,
.mt-goods > header > p,
.mt-distribution > header > p,
.mt-superior > header > p,
.mt-we-more > header > p,
.mt-regarding > header > p,
.mt-phone-case > header > p {
  font-size: 9px;
  margin-bottom: 7px;
}

.mt-phone-industry-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  width: 100%;
}

.mt-phone-industry-content a {
  width: 48%;
  margin-right: 10px;
}

.mt-phone-industry-content a:nth-of-type(2n) {
  margin-right: 0;
}

.mt-phone-content-item {
  padding: 10px 14px 7px;
  box-shadow: 0px 0px 10px 0px rgba(118, 126, 134, 0.2);
  margin-top: 10px;
  height: 80px;
}

.mt-phone-content-item > div img {
  width: 19px;
}

.mt-phone-content-item figcaption {
  font-size: 8px;
}

.mt-phone-odds,
.mt-goods,
.mt-superior,
.mt-we-more,
.mt-regarding {
  background: #f7f8fa;
  padding-top: 27px;
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.mt-phone-odds > header,
.mt-goods > header,
.mt-superior > header {
  margin-bottom: 15px;
}

.mt-odds-item {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  box-shadow: 0px 0px 10px 0px rgba(118, 126, 134, 0.2);
  padding: 20px;
  margin-top: 10px;
}

.mt-odds-item img {
  width: 60px;
  margin-right: 18px;
}

.mt-odds-item figcaption h3 {
  font-size: 10px;
  color: #333333;
  margin-bottom: 14px;
}

.mt-odds-item figcaption p {
  font-size: 8px;
}

.mt-phone-fun {
  width: 90%;
  margin: 27px auto 0;
  overflow: hidden;
}

.mt-fun-title {
  border-bottom: 2px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  color: #222222;
  margin-top: 10px;
}

.mt-fun-title div {
  padding: 7px 20px;
  text-align: center;
}

.mt-fun-title .mt-active {
  border-bottom: 1px solid #e84644;
  color: #e84644;
}

.mt-phone-fun .mt-fun-content {
  /* width: 200%;
  display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 17px;
}

.mt-fun-left,
.mt-fun-right {
  width: 100%;
  padding: 0 67.5px;
  text-align: center;
}

.mt-fun-left > img,
.mt-fun-right > img {
  width: 100%;
}

.mt-foot {
  text-align: left;
}

.mt-foot > h3,
.mt-chain > h3 {
  font-size: 14px;
  color: #e84644;
}

.mt-foot > p,
.mt-chain > p {
  font-size: 10px;
  color: #222222;
  margin-bottom: 10px;
}

.mt-foot > ul li,
.mt-chain > ul li {
  display: flex;
  align-items: center;
  font-size: 9px;
  color: #666666;
}

.mt-foot > ul li span,
.mt-chain > ul li span {
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 50%;
  background: #e84644;
  margin-right: 5px;
}

.mt-foot a > div,
.mt-chain a > div {
  margin-top: 14px;
  text-align: center;
  border: 1px solid #e84644;
  color: #e84644;
  font-size: 10px;
  width: 87.5px;
  height: 23px;
  line-height: 23px;
}

.mt-chain,
.mt-chain > ul {
  text-align: right;
  width: 100%;
}

.mt-chain > ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mt-chain > ul li span {
  margin-right: 0;
  margin-left: 5px;
}

.mt-chain a > div {
  display: inline-block;
}

.mt-goods > section {
  width: 100%;
  text-align: center;
}

.mt-goods > section a {
  width: 49%;
  display: inline-block;
}

.mt-goods-item {
  font-size: 10px;
  display: inline-block;
  margin-top: 24px;
}

.mt-goods-item > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  text-align: center;
  line-height: 86px;
  margin-bottom: 10px;
  display: inline-block;
}

.mt-goods-item > div img {
  width: 36px;
  height: 36px;
}

.mt-distribution,
.mt-also {
  margin-top: 30px;
}

.mt-distribution-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.mt-distribution-item {
  text-align: center;
  color: #222222;
  border: 1px solid #dcdcdc;
  width: 115px;
  height: 125px;
  padding: 10px 10px 0;
}

.mt-distribution-item h3 {
  font-size: 10px;
  margin-bottom: 6px;
}

.mt-distribution-item p {
  font-size: 8px;
}

.mt-superior-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mt-superior-item {
  width: 100px;
  font-size: 10px;
  color: #222222;
  text-align: center;
}

.mt-superior-item img {
  width: 100%;
  margin-bottom: 30px;
}

.mt-we-more {
  color: #fff;
  background: #7eade0;
  margin-top: 0;
}

.mt-phone-table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mt-phone-table-item {
  width: 60px;
  height: 69px;
  border: 1px solid #dcdcdc;
  font-size: 7px;
  text-align: center;
}

.mt-phone-table-item:nth-of-type(n + 1) {
  border-top: none;
  border-right: none;
}

.mt-phone-table-item:nth-of-type(6n + 1) {
  border-left: none;
}

.mt-last {
  border-bottom: none;
}

.mt-phone-table-item > div img {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.mt-we-more a div {
  width: 75px;
  height: 25px;
  border: 1px solid #ffffff;
  line-height: 25px;
  text-align: center;
  margin: 18px auto 0;
  color: #fff;
}

.mt-also-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mt-also-cont a {
  width: 30%;
  display: inline-block;
}

.mt-also-item {
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  font-size: 8px;
  border: 1px solid #dcdcdc;
  height: 150px;
}

.mt-also-title {
  width: 60px;
  height: 40px;
  display: inline-block;
  margin-bottom: 10px;
}

.mt-also-title > img {
  width: 100%;
  height: 100%;
}

.mt-also-test div {
  font-size: 9px;
  color: #ff7e44;
  margin: 10px 0 5px;
}

.mt-also-test p {
  font-size: 7px;
}

.mt-regarding {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 9px;
}

.mt-regarding > img {
  width: 150px;
  display: block;
  margin: 10px auto 10px;
}

.mt-regarding > div {
  font-size: 10px;
  text-align: center;
}

.mt-regarding > section {
  text-align: center;
}

.mt-regarding > section > ul {
  margin: 10px auto 0;
  display: inline-block;
}

.mt-regarding > section > ul li {
  display: flex;
  align-items: center;
  font-size: 9px;
  margin-bottom: 4px;
}

.mt-regarding > section > ul li img {
  width: 12px;
  margin-right: 6px;
}

.mt-phone-case {
  margin-top: 30px;
}

.mt-phone-swiper-list {
  width: 100%;
  overflow: hidden;
}
